/* override old value*/

a {
    color: #17a2b8;
}
body {
    font-size: 0.85rem;
}
.content-header h1.h1title{
    font-size: 1.5rem !important;
}
.rightNavbar li{
    font-size: 0.8rem;
}
.btn-warning {
    color: #fff;
}
.page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.page-link {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    color: #17a2b8;
}
#nav-left > li {
    margin-bottom: 15px;
}
#nav-left i {
    font-size: 14px;
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
    color: #FFFFFF;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: '>\00a0';
    color: #acacac;
}
li.breadcrumb-item {
    font-size: 0.75rem;
}
div#alert-wrapper {
    padding: 15px;
}
div#alert-wrapper ul, div#alert-wrapper ol{
    margin-bottom: 0px;
}
.note-toolbar.panel-heading {
    background: #efefef;
}
.image-preview {
    width: 120px;
    margin-top: 10px;
    position: relative;
}
.remove-image {
    position: absolute;
    right: 5px;
    top: 5px;
}
body div#datatable_processing {
    background: #000000ba;
    color: #fff;
    position: fixed;
    top: 20% !important;
    bottom: auto;
}
.form-group {
    display: flex;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 0px;
    border-bottom: 1px dashed #eaeaea;
}
span.brand-text {
    letter-spacing: 3px;
}
.btn-group-normal a {
    margin: 0 3px;
}
.btn-group-normal .fa-edit {
    margin-right: -4px;
}
.field-group.is-invalid {
    border: 1px solid #dc3545;
    padding: 10px;
}
.actionDatatables {
    min-width: 100px;
}
.img-lang {
    width: 30px;
}
span.span-locale {
    text-transform: uppercase;
}
.icheck-cyan label {
    min-width: 110px;
}
.icheck-cyan.d-inline {
    display: inline-block !important;
}
body label:not(.form-check-label):not(.custom-file-label) {
    font-weight: normal;
}

/* Sidebar */
.brand-text {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

/* Form */
.label-required {
    font-size: 8.5px;
    top: -4px;
    position: relative;
    padding: 3px;
}
.field-title {
    font-size: 17px;
    display: block;
}
.error {
    color: red;
}

/* Parsley */
.parsley-errors-list {
    list-style: none;
    padding: 5px 0;
    font-size: 12px;
    color: #dc3545;
}

/* Datatables */
.actionDatatables{
    border-left: 1px solid #dee2e6 !important;
}

.card-title {
    display: flex;
    align-items: center;
}

.card-header-link a {
    margin-left: 10px;
    float: right;
}
#datatable tbody tr > td:last-of-type {
    text-align: center;
}
